package ${packageName}.entity;

    #foreach ($import in $importList)
    import ${import};
    #end
import lombok.Data;
import lombok.EqualsAndHashCode;
import pub.module.data.entity.BaseEntity;
import io.swagger.v3.oas.annotations.media.Schema;

/**
 * ${functionName} 对象
 * @author ${author}
 * ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = false)
@Schema(description = "${functionName}")
public class ${ClassName} extends BaseEntity {
            #set($excludeStr = "id,createBy,createTime,updateBy,updateTime,deleted,orgCode,version,seqNo")
            #foreach ($column in $columns)
                #if(!$excludeStr.contains($column.javaField))
                    /** $column.columnComment */
                    #if($column.list)
                        #set($parentheseIndex=$column.columnComment.indexOf("（"))
                        #if($parentheseIndex != -1)
                            #set($comment=$column.columnComment.substring(0, $parentheseIndex))
                        #else
                            #set($comment=$column.columnComment)
                        #end
                        #if($parentheseIndex != -1)
                        @Schema(description = "${comment}")
                        #elseif($column.javaType == 'Date')
                        @JsonFormat(pattern = "yyyy-MM-dd")
                        @Schema(description = "${comment}")
                        #else
                        @Schema(description = "${comment}")
                        #end
                    #end
                private $column.javaType $column.javaField;

                #end
            #end

        }
