package ${packageName}.biz.service.impl;

import ${packageName}.curd.entity.${ClassName};
import ${packageName}.curd.mapper.${ClassName}Mapper;
import ${packageName}.curd.service.${ClassName}Service;
import ${packageName}.biz.service.*;

import org.springframework.stereotype.Service;


/**
 * Api ${functionName} Service
 *
 * @author ${author}
 * ${datetime}
 */
@Service
public class Spi${ClassName}ServiceImpl implements Spi${ClassName}Service {



}
