INSERT INTO `tg`.`sys_permission` (`id`,`seq_no`,`version`, `create_by`,`create_time`,`deleted`,`per_code`,`per_parent_code`,`per_name`,`per_url`,`per_authority`,`per_type_code`,`per_open_style_code`,`per_icon`) VALUES (REPLACE(UUID(), '-', ''), 1, '1.0', 'admin', NOW(), 0, '${moduleName}${ClassName}Index', 'root', '${functionName}', '${moduleName}/${className}/index', NULL, '0', '0', '');
INSERT INTO `tg`.`sys_permission` (`id`,`seq_no`,`version`, `create_by`,`create_time`,`deleted`,`per_code`,`per_parent_code`,`per_name`,`per_url`,`per_authority`,`per_type_code`,`per_open_style_code`,`per_icon`) VALUES (REPLACE(UUID(), '-', ''), 2, '1.0', 'admin', NOW(), 0, '${moduleName}${ClassName}List', '${moduleName}${className}Index', '查看', '', '${moduleName}:${className}:list', '1', '0', '');
INSERT INTO `tg`.`sys_permission` (`id`,`seq_no`,`version`, `create_by`,`create_time`,`deleted`,`per_code`,`per_parent_code`,`per_name`,`per_url`,`per_authority`,`per_type_code`,`per_open_style_code`,`per_icon`) VALUES (REPLACE(UUID(), '-', ''), 3, '1.0', 'admin', NOW(), 0, '${moduleName}${ClassName}Add', '${moduleName}${className}Index', '新增', '', '${moduleName}:${className}:save', '1', '0', '');
INSERT INTO `tg`.`sys_permission` (`id`,`seq_no`,`version`, `create_by`,`create_time`,`deleted`,`per_code`,`per_parent_code`,`per_name`,`per_url`,`per_authority`,`per_type_code`,`per_open_style_code`,`per_icon`) VALUES (REPLACE(UUID(), '-', ''), 4, '1.0', 'admin', NOW(), 0, '${moduleName}${ClassName}Modify', '${moduleName}${className}Index', '修改', '', '${moduleName}:${className}:modify', '1', '0', '');
INSERT INTO `tg`.`sys_permission` (`id`,`seq_no`,`version`, `create_by`,`create_time`,`deleted`,`per_code`,`per_parent_code`,`per_name`,`per_url`,`per_authority`,`per_type_code`,`per_open_style_code`,`per_icon`) VALUES (REPLACE(UUID(), '-', ''), 5, '1.0', 'admin', NOW(), 0, '${moduleName}${ClassName}Delete', '${moduleName}${className}Index', '删除', '', '${moduleName}:${className}:delete', '1', '0', '');
