package ${packageName}.curd.service;

import ${packageName}.curd.entity.${ClassName};
import com.baomidou.mybatisplus.extension.service.IService;

/**
 * ${functionName} Service
 *
 * @author ${author}
 * ${datetime}
 */
public interface ${ClassName}Service extends IService<${ClassName}> {
    ${ClassName} getByCode(String code);
}
