package pub.module.${moduleName};

import lombok.Data;
import org.mybatis.spring.annotation.MapperScan;
import org.springframework.boot.autoconfigure.condition.ConditionalOnMissingBean;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.ComponentScan;
import org.springframework.context.annotation.Configuration;

@Data
@Configuration
@ComponentScan(basePackages = {"pub.module.${moduleName}.**"})
@MapperScan(basePackages = {"pub.module.${moduleName}.**.mapper"})
public class ${ModuleName}AutoConfiguration {
    @Bean
    @ConditionalOnMissingBean
    public ${ModuleName}AutoConfiguration init() {
        return new ${ModuleName}AutoConfiguration();
    }
}
